modules = ["nodejs-24", "python-base-3.13", "postgresql-16"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
EXPO_PUBLIC_API_BASE_URL = "https://c8017a58-af99-4654-be4f-b3160d5d3e36-00-2s1s4ser85n61.riker.replit.dev"
ENABLE_TEST_SUBSCRIPTION_BYPASS = "true"
EXPO_PUBLIC_ENABLE_TEST_SUBSCRIPTION_BYPASS = "true"
EXPO_PUBLIC_REVENUECAT_ANDROID_API_KEY = "goog_TizQkkwslvfubkZSOxLpJKtZeUT"
EXPO_PUBLIC_REVENUECAT_IOS_API_KEY = "appl_vbXvhVTGnWNWtseAFQUDLCZPUBr"
EXPO_PUBLIC_REVENUECAT_TEST_API_KEY = "test_HdNSanPtPSfHVFrZepbElJoofoC"
REVENUECAT_APPLE_APP_STORE_APP_ID = "appc01e9ec923"
REVENUECAT_GOOGLE_PLAY_STORE_APP_ID = "appb63d6e604b"
REVENUECAT_PROJECT_ID = "proj6d3bb300"
REVENUECAT_TEST_STORE_APP_ID = "app644e4c59dc"

[[ports]]
localPort = 8080
externalPort = 80

[[ports]]
localPort = 18115
externalPort = 3000
